---
import Layout from '../layouts/Layout.astro';
import Portada from '../components/home/Portada.astro';
---

<Layout title="Página de Inicio - Netflix" description='Un clon de Netflix'>
	<main class="h-screen">
		<Portada />
	</main>
</Layout>